@model IEnumerable<Testovoe.Models.TenderJson>

@{
    ViewData["Title"] = "Тендеры";
}

<div class="text-center">
    <h1 class="display-4">Список тендеров</h1>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Название тендера</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Ссылка</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var tender in Model)
            {
            <tr>
                <td>@tender.Title</td>
                <td>@tender.StartDate?.ToString("dd.MM.yyyy")</td>
                <td>@tender.EndDate?.ToString("dd.MM.yyyy")</td>
                <td>
                        @if (!string.IsNullOrEmpty(tender.Url))
                        {
                            <a href="@tender.Url" target="_blank">@tender.Url</a>
                        }
                </td>
            </tr>
            }
    </tbody>
</table>
</div>